<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="css2.1keywords" value="color,display,font-style,font-variant,font-weight,font-size,font-family,font,letter-spacing,line-height,text-align,text-decoration,text-indent,text-transform,vertical-align,min-height,min-width,height,width,word-spacing,border,border-bottom,border-top,border-left,border-right,border-width,border-style,border-color,clear,float,left,right,top,position,z-index,background,background-color,background-image,background-repeat,background-attachment,background-position,list-style,list-style-type,list-style-position,list-style-image,margin,margin-top,margin-left,margin-right,margin-bottom,padding,padding-top,padding-left,padding-right,padding-bottom,outline,content,empty-cells,overflow,white-space"/>
  </appSettings>
</configuration>